<div class='background'>
<app-header [breadCrumbList]='breadCrumbList'></app-header>
  <section class="row table-row-details">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <form>
      <legend>Opportunity Details</legend>
      <div class="form-background">
        <div class="form-basic">
          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="passwordinput">Password Input</label>
              <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md form-element">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 form-group">
              <label for="textinput">Text Input</label>
              <textarea class="form-control form-element" rows="3"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="passwordinput">Password Input</label>
              <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md form-element">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 form-group">
              <label for="textinput">Text Input</label>
              <textarea class="form-control form-element" rows="3"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="passwordinput">Password Input</label>
              <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md form-element">
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 form-group">
              <label for="textinput">Text Input</label>
              <select class="form-control form-element">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="textinput">Text Input</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  text1
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  text2
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  text3
                </label>
              </div>

            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 form-group">
              <label for="textinput">Text Input</label>
              <textarea class="form-control form-element" rows="3"></textarea>
            </div>
          </div>
        </div>

        <!-- Button layout -->

        <div class="row button-layout">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">

            <div class="col-sm-3">
              <button type="button" class="btn center-block form-element">Log History</button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn center-block form-element">Notifications</button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn center-block form-element">Save</button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn center-block form-element">Close</button>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </form>

  </div>
  <div class="col-sm-1"></div>
</section>
</div>